body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  background-color: rgba(241, 241, 241, 0.664);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.basket_container{
  padding: 10px;
}

.ProductList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}

nav {
  height: 50px;
}

.flex_product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
}

article{
  border: grey 1px solid;
}

button{
  height: 100%;
}
